<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="!isLoading">
    <mat-expansion-panel *ngFor="let post of Posts">
        <mat-expansion-panel-header>
            <p>{{post.title}}</p>
        </mat-expansion-panel-header>
        <div class="post-image">
            <img [src]="post.imagePath" alt="post.title">
        </div>
        <p class="post-content">{{post.content }}</p>
        <mat-action-row>
            <button mat-button color="primary" [routerLink]="['/edit', post.id]">EDIT</button>
            <button mat-button color="warn" (click)="onDelete(post?.id)">DELETE</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]="totalPosts" [pageSize]="1" [pageSizeOptions]="pageSizeOptions" (page)="onChangePage($event)" *ngIf="Posts.length>0"></mat-paginator>
<p class="text-info mat-body-1" *ngIf="Posts.length<=0 && !isLoading">no Posts</p>