<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onAddPost(postForm)" #postForm="ngForm" *ngIf="!isLoading">
        <mat-form-field>
            <input matInput type="text" name="title" placeholder="Title" [ngModel]="post?.title" required #title="ngModel">
            <mat-error *ngIf="title.invalid">Please enter a title</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput name="name" rows="8" cols="80" name="content" placeholder="Content" [ngModel]="post?.content" required #content="ngModel"></textarea><br>
            <mat-error *ngIf="content.invalid">Please enter some content</mat-error>
        </mat-form-field>
        <br>
        <button mat-raised-button color="accent" type="submit" name="button">SAVE</button>
    </form>
</mat-card>

